html {
    background: #000;
    box-sizing: border-box;
    color: #444444;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
}
header {
    background: #fff;
    border-left: 13px solid #c60c30;
    color: #444444;
    display: none;
    height: 68px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999999;
}
@media only screen and (orientation: portrait) {
    header {
        display: block;
    }

    .flowplayer {
        height: calc(100% - 68px);
        margin-top: 68px;
    }
}
header img {
    display: block;
    float: left;
    max-width: 90px;
    padding-top: 3px;
}
header p {
    float: right;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 50%;
}
.flowplayer .fp-color {
  background: #c60c30;
}
.flowplayer .fp-bar, .flowplayer .fp-bar-slider {
    cursor: pointer;
}
.flowplayer .fp-ui {
    cursor: default;
}

.flowplayer {
    height: 100%;
}
#fp-hlsjs {
   background-image: url(../img/poster.jpg);
   /*background-size: 200%;*/
/*   -webkit-transition: background 1s .5s;
   -moz-transition: background 1s .5s;
   transition: background 1s .5s;*/
}
/*
#fp-hlsjs.is-poster {
   background-size: 100%;
}*/

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon/icomoon.eot?o73kx2');
  src:  url('icomoon/icomoon.eot?o73kx2#iefix') format('embedded-opentype'),
        url('icomoon/icomoon.ttf?o73kx2') format('truetype'),
        url('icomoon/icomoon.woff?o73kx2') format('woff'),
        url('icomoon/icomoon.svg?o73kx2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}



.fp-fullscreen:before,
.fp-playbtn:before,
.fp-volumebtn:before,
.fp-volume-off:before {

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.fp-fullscreen:before {
  content: "\eb3c";
  font-size: 1.5em; }

.fp-playbtn:before {
  content: "\e901"; }

.fp-volumebtn:before {
  content: "\ed92"; }

.fp-volume-off:before {
  content: "\ed95"; }

.flowplayer.is-playing .fp-playbtn:before {
  content: "\e900"; }

.flowplayer.is-fullscreen .fp-fullscreen:before {
  content: "\eb3d"; }

.flowplayer.is-muted .fp-volumebtn:before {
  content: "\ed95"; }


.flowplayer.fp-mute .fp-volumebtn {
    display: inline-block;
    margin-right: 5px;
    line-height: 1;
}



.fp-title,
.fp-waiting {
    display: none!important;
}

.fp-icon {
    cursor: pointer;
}

.flowplayer {
    font-family: 'Open Sans', sans-serif;
}

.mejs__overlay-play {
    display: none!important;
    visibility: hidden!important;
}
.player {
    height: 100vh !important;
    max-height: 100%;
}
.video-container {
    background: #000;
}
#noqs-warning {
    position: absolute;
    top: 50%;
    display: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
}
#noqs-warning a {
    color: inherit;
}
#loading-container {
    display: none;
/*    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 102;*/
}
.loading-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.is-seeking #loading-container,
.is-loading #loading-container {
    display: block;
}

#loading-container.hide {
    display: none;
}
#play-toggle.show,
#large-play.show {
    display: block;
}
.pause-icon {
    display: none;
}
.playing .play-icon {
    display: none;
}
.playing .pause-icon {
    display: inline;
}


#large-play {
    display: none;
  height: -webkit-calc(100vh - 40px);
  height: calc(100vh - 40px);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
    z-index: 2;
}

.large-play-inner {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 250px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 250px;
    z-index: 999;
}
@media only screen and (max-width: 667px) {
    .large-play-inner {
        height: 100px;
        width: 100px;
    }
    #play-toggle {
        height: 60px;
        width: 60px;
    }
}
.sk-chasing-dots {
    margin: 100px auto;
    width: 100px;
    height: 100px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
    animation: sk-chasingDotsRotate 2s infinite linear;
}
.sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border: solid 4px #fff;
    background-color: #c60c30;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
    animation: sk-chasingDotsBounce 2s infinite ease-in-out;
}
.sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes sk-chasingDotsRotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-chasingDotsBounce {
    0%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}