@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?o73kx2');
  src:  url('icomoon.eot?o73kx2#iefix') format('embedded-opentype'),
        url('icomoon.ttf?o73kx2') format('truetype'),
        url('icomoon.woff?o73kx2') format('woff'),
        url('icomoon.svg?o73kx2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-controller-paus:before {
  content: "\e900";
}
.icon-controller-play:before {
  content: "\e901";
}
.icon-enlarge:before {
  content: "\eb3c";
}
.icon-shrink:before {
  content: "\eb3d";
}
.icon-volume-mute:before {
  content: "\ed92";
}
.icon-mute:before {
  content: "\ed95";
}

